/* ---------------------
----- Input, textarea ---
----------------------- */
select,
textarea,
input[type=date],
input[type=email],
input[type=file],
input[type=hidden],
input[type=image],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url] {
    background-color: transparent;
    border-width: 0;
    color: var(--text-color-regular);
    font-family: 'Helvetica';
    letter-spacing: -0.02em;

    &:focus {
        outline: none;
    }

    &::placeholder {
        color: rgba($color: #000000, $alpha: .3);
    }
}

input[type=search] {
    &::-webkit-search-cancel-button {
        -webkit-appearance: none;
    }
}
